<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vote</title>
    <link rel="icon" href="../static/images/favicon.ico" type="image/x-icon">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>
<body>
<input  type="button" name="bjp" value="bjp">
<input type="button" name="cong" value="cong">

<script>
$(document).ready(function () {
   $("input").click(function() {
       console.log($(this).attr("name"));
   })
})

</script>


</body>
</html>