<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Generate Password</title>
</head>
<body>
{{error}}
<form action="{{url_for('generate')}}" method="POST">
    Name
    <input type="text" name="name">
    UID
    <input type="number" name="uid">
    DOB
    <input type="date" name="dob">
    Registered Email Id
    <input type="email" name="email">
    Registered Mobile Number
    <input type="number" name="mobile">
    <button type="submit">Submit</button>
</form>

</body>
</html>